<div class="row">
  <div class="col-5 col-lg-3 col-md-4 p-0 pl-2 pr-2">
    <div class="card mb-2">
      <div class="card-body">
        <h5 class="card-title m-0">Todos los libros</h5>
      </div>
    </div>
    <ul class="list-group">
      <a class="list-group-item list-group-item-action" routerLink="1" routerLinkActive="active">
        Cras justo odio
      </a>
      <a class="list-group-item list-group-item-action" routerLink="2" routerLinkActive="active">
        Dapibus ac facilisis in
      </a>
      <a class="list-group-item list-group-item-action" routerLink="3" routerLinkActive="active">
        Morbi leo risus
      </a>
    </ul>
  </div>
  <div class="col-7 col-lg-9 col-md-8 p-0 pr-2">
    <router-outlet></router-outlet>
  </div>
</div>
