<div class="row">
  <div class="col-5 col-lg-3 col-md-4 p-0 pl-2 pr-2">
    <div class="card mb-2">
      <div class="card-body">
        <h5 class="card-title m-0">Todos los libros</h5>
      </div>
    </div>
    <ul class="list-group">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Morbi leo risus</li>
      <li class="list-group-item">Porta ac consectetur ac</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
  </div>
  <div class="col-7 col-lg-9 col-md-8 p-0 pr-2">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Datos del libro</h5>
        <p class="card-text">Título: Mi libro de ejemplo</p>
        <p class="card-text">Autor: Angel Hurtado</p>
      </div>
    </div>
  </div>
</div>
